# logging
set("log.stdout", true)
set("log.file", true)
set("log.file.append", false)
set("log.level", 2)

# services
services_port = 1234
services_key = "fixme"

# cloudcast
cloudcast_uri = "fixme"
cloudcast_uri_key = "fixme"
cloudcast_uri_parameters = "XDEBUG_SESSION_START=17394"